<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<button><a href="/">Home</a></button>
<form action="#" th:action="@{/search_request}" th:object="${search}" method="post">
    <p>Select parameters of car<input id="categoryID" name="categoryID" value = "1" hidden = "true"/></p>
    <p>Body Type:
        <select id="body" name="body">
            <option selected value="-1">Select</option>
            <th:block th:each="body : ${carBody}">
                <option th:value="${body.getValue()}" th:utext="${body.getName()}"></option>
            </th:block>
        </select>

    <p>Mark:
        <select id="mark" name="mark">
            <option selected value="-1">Select</option>
            <th:block th:each="mark : ${marks}">
                <option th:value="${mark.getValue()}" th:utext="${mark.getName()}"></option>
            </th:block>
        </select>

    <p>Type of fuel:
        <select id="fuelType" name="fuelType">
            <option selected value="-1">Select</option>
            <th:block th:each="fuelType : ${fuelTypes}">
                <option th:value="${fuelType.getValue()}" th:utext="${fuelType.getName()}"></option>
            </th:block>
        </select>
    </p>
    <input type="submit" value="Search">
</form>
</body>
</html>